{% extends 'base.html' %}
{% block content %}
    <div>
        {% if question %}
            <h2>{{ question.question_text }}</h2>
            {% if question.choice_set.all %}
                <ol type="a">
                    {% for choice in question.choice_set.all %}
                        <li>{{ choice.choice_text }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>Question does not have choices</p>
            {% endif %}
        {% else %}
            <p>Question does not exist</p>
        {% endif %}
        <p>
            <a href="{% url 'polls:index' %}">Homepage</a>
        </p>
    </div>
{% endblock %}