{% extends 'base.html' %}
{% block content %}
    <div>
        {% if question %}
            <h2>{{ question.question_text }}</h2>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}

            {% if question.choice_set.all %}
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                        <div class="">
                            <input class="" name="choice" type="radio" id="choice{{ forloop.counter }}"
                                   value="{{ choice.id }}"/>
                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-success btn-sm">
                </form>
            {% else %}
                <p>Question doesn't have choices</p>
            {% endif %}

        {% else %}
            <p>Question not found</p>
        {% endif %}

        <br>
        <p>
            <a href="{% url 'polls:index' %}">Homepage</a> |
            <a href="{% url 'polls:results' question.id %}">Results</a>
        </p>
    </div>
{% endblock %}